:global .item {
  opacity: .5;
  border: 1px solid #DDD;
  padding: 0 1rem 1rem 1rem;
  margin-bottom: 1rem;
}

:global .item--active {
  opacity: 1;
}

:global .item--active :local .action {
  color: darkblue;
}

:global .item--active :local .action:hover {
  cursor: pointer;
}
